// COLOR VARIABLES
$color-primary: #f44336;
$color-secondary: #fff3f3;
$color-tertiary: #6495ed;
$color-white: #fff;
$color-gray-light: #f0f0f0;
$color-gray-middle: #777;
$color-gray-dark: #333;
$color-black: #000;
