.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 4.5rem;
    background-color: transparent;
    border-style: solid;
    border-color: $color-white;
    color: $color-white;
    cursor: pointer;
    transition: all 1s;
    outline: none;
  }
  &:active,
  &:hover {
    background-color: $color-tertiary;
    border-color: $color-tertiary;
  }
  &--red {
    border-color: $color-primary;
    color: $color-tertiary;
    &:hover {
      color: $color-white;
    }
  }
  &--blue {
    border-color: $color-tertiary;
    color: $color-tertiary;
    &:hover {
      color: $color-white;
    }
  }
}
