*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: none;
}

html {
  box-sizing: border-box;
  // To define what 1rem is :
  font-size: 62.5%; // 1rem = 10px --> 10/16 = 62.5%
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px --> 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px --> 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px --> 12/16 = 75%
  }
}

html {
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-secondary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  color: $color-gray-middle;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

::selection {
  background-color: $color-primary;
  color: $color-secondary;
}
